.DS_Store
.config/raycast/extensions
.config/claude/projects/
.config/claude/shell-snapshots/
.config/claude/statsig/
.config/claude/todos/
.config/claude/local.sh
.config/tmux/plugins/
.emacs.d/personal/*.elc
/.config/tmux/secrets.conf
.clojure/.cpcache/
.claude/*
!.claude/CLAUDE.md
!.claude/commands/
!.claude/agents/
!.claude/settings.json
!.claude/skills
!.claude/statusline-command.sh
.secrets/
