.DS_Store
.config/raycast/extensions
.config/claude/projects/
.config/claude/shell-snapshots/
.config/claude/statsig/
.config/claude/todos/
.config/tmux/plugins/
.emacs.d/personal/*.elc
/.config/tmux/secrets.conf
.clojure/.cpcache/
.secrets/
